<!DOCTYPE html>
<html>
  <%- include("head") %>
    <body>
        <%- include("header") %>
        <main>
            <form action = "/update/<%= article.id %>" method = "POST" >
                <div class = "form_title_box">
                    <p class = "form_title">Title :</p>
                    <input type = "text" name = "title" class = form_title_input value = '<%= article.title %>'>
                  </div>
                  <div class = "form_title_box">
                    <p class = "form_title">Summary :</p>
                    <input type = "text" name = "summary" class = form_title_input value = '<%= article.summary %>'>
                  </div>
                  <div class = "form_text_box">
                    <p class = "form_title">Content :</p>
                    <textarea name = "content" class = "form_textarea" ><%= article.content %></textarea>
                  </div>
                  <div class = "form_title_box">
                    <p class = "form_title">Category :</p>
                    <div class = "select_and_btn">
                     <%- include("select") %>
                    <input type = "submit" value = "Post" class = "post_btn">
                  </div>
            </form>
        </main>
        <footer>
            <p>COPYRIGHT</p>
        </footer>
      <script src = “/script.js”></script>
    </body>
</html>