<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Programming Blog</title>
        <link rel = "stylesheet" href = "/css/style.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="/script.js"></script>
    </head>
    <body>
        <%- include("header"); %>
        <main>
          <div class = main_language>
            <ul class = language_list>
                <% languages.forEach((language)=>{ %>
                    <li class = "language_item">
                        <div class = "language_box">
                          <div class = "language_img_box">
                            <% if(fs.existsSync("public/pictures/languages/" + language + ".png")){ %>
                             <img src = "pictures/languages/<%= language %>.png" class = "language_img">
                            <% }else{ %>
                             <img src = "pictures/languages/<%= language %>.jpeg" class = "language_img">
                            <% } %>
                          </div>
                          <div class = "language_box_bottom">
                           <a href = "/languages/<%= language %>" class = "language_title"><%= language %></a>
                           <p class = "posts_count"><%= countbox[language] %> Posts</p>
                          </div>
                        </div>
                    </li>
                 <% }) %>
            </ul>
          </div>
        </main>
        <footer>
            <p>COPYRIGHT</p>
        </footer>
        <script src = “/script.js”></script>
    </body> 
</html>