<!DOCTYPE html>
<html>
    <%- include("head") %>
    <body>
        <%- include("header"); %>
        <main>
          <div class = "index_search_box">
            <form action = "/search" method = "GET" class = "index_search_form">
             <input type = "text" name = "search" class = "index_search_bar">
             <input type = "submit" value = "Search" class = "index_search_btn">
            </form>
         </div>
          <div class = main_language>
            <ul class = language_list>
                <% languages.forEach((language)=>{ %>
                    <li class = "language_item">
                        <div class = "language_box">
                          <div class = "language_img_box">
                            <% if(fs.existsSync("public/pictures/languages/" + language + ".png")){ %>
                             <img src = "pictures/languages/<%= language %>.png" class = "language_img">
                            <% }else{ %>
                             <img src = "pictures/languages/<%= language %>.jpeg" class = "language_img">
                            <% } %>
                          </div>
                          <div class = "language_box_bottom">
                           <a href = "/languages/<%= language %>" class = "language_title_link"><%= language %></a>
                           <p class = "posts_count"><%= countbox[language] %> Posts</p>
                          </div>
                        </div>
                    </li>
                 <% }) %>
            </ul>
          </div>
        </main>
        <footer>
            <p>COPYRIGHT</p>
        </footer>
        <script src = “/script.js”></script>
    </body> 
</html>