<!DOCTYPE html>
<html>
    <%- include("head") %>
    <body>
        <%- include("header"); %>
        <main>
            <ul class = "article_list">
                <% articles.forEach((article) => { %>
                    <li class = "article">
                        <h2 class = "article_title"><%= article.title %></h2>
                        <p class = article_summary><%= article.summary %></p>
                        <p><a href = "/languages/<%= article.category%>"><%= article.category %></a></p>
                        <a href = "/article/<%= article.id %>" class = "detail_btn">Detail</a>
                    </li>
                <% }) %>
            </ul>
            <ul class = "page_list">
                <% for(let i = 1; i <= pageNumber; i++){ %>
                    <% if(i == page){ %>
                      <li class = "current_page_number"><a href = "/search?search=<%= keyWord %>&page=<%= i %>" class = "page_link"><%= i %></a></li>
                    <% }else{ %>
                      <li class = "page_number"><a href = "/search?search=<%= keyWord %>&page=<%= i %>" class = "page_link"><%= i %></a></li>
                    <% } %>
                 <% } %>
             </ul>
        </main>
        <footer>
            <p>COPYRIGHT</p>
        </footer>
      <script src = “/script.js”></script>
    </body>
</html>